*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header{
   background-color: #D9D9D9;
}

li{
   list-style: none;
}

.flex{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.flex-column{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.flex-footer-1{
   display: flex;
   flex-direction: row;
}

.flex-footer-2{
   display: flex;
   justify-content: space-between;
}

.image.inverted{
   order: 2;
}



.top-menu{
   width: 80%;
   margin: auto;
   background-color: #FF3737;
   height: 100px;
}

.logo{
   background-color: #A7EEAE;
   width: 150px;
   height: 100px;
}

.list-menu{
   background-color: #A7EEAE;
   width: 500px;
   height: 100px;
}

.button{
   width: 150px;
   height: 100px;
   background-color: #A7EEAE;
}

.container-1{
   width: 40%;
   margin: auto;
   background-color: #EC8E37;
   height: 500px;
}

.container-section{
   width: 55%;
   margin: auto;
}

.image{
   height: 400px;
   flex-basis: 49%;
   background-color: #A7EEAE;
   border: 1px solid black;
}

.text{
   height: 400px;
   flex-basis: 49%;
   background-color: #32AE3F;
   border: 1px solid black;
}

.subtitle-button{
   height: 400px;
   order: 3;
   background-color: #12621A;
   border: 1px solid black;
}

.social{
   height: 700px;
   width: 200px;
   background-color: #F32E2E;
   flex-grow: 1;
   border: 1px solid black;
}

.section-5 ul{
   height: 700px;
   width: 240px;
   background-color: #7B2727;
   border: 1px solid black;
}

.section-2, .section-4{
   background-color: #5E5E5E;
}

.section-6 .container-section{
   background-color: #2996E5;
}

.section-4 div{
   width: 1310px;
}